# ENV = "test"
# ENV = "prod"
ENV = "dev"
PORT = 8099
DB_CONN = "host=localhost user=postgres password=postgres dbname=patientmanager port=5332 sslmode=disable"
ACCESS_KEY = "your-access-key-here"
REFRESH_KEY = "your-refresh-key-here"
MINIO_ROOT_USER = "Admin"
MINIO_ROOT_PASSWORD = "Pa\$\$w0rd"
POSTGRES_USER = postgres
POSTGRES_PASSWORD = postgres
SUPERADMIN_PASSWORD = "Pa$$w0rd"
